.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    background-color: rgb(var(--background-end-rgb));
    width: 100%;
    max-width: 1300px;
    margin: auto;
    height: 100dvh;
    word-break: keep-all;
}
@media screen and (max-width: 600px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 16px;
        text-align: center;
    }
    .signup,
    .login {
        margin: auto;
    }
    .left {
        width: 80%;
        max-width: 160px;
        margin: 0 auto;
    }
}


.left {
    display: flex;
    justify-content: center;
    align-items: center;
}
.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right h1 {
    font-weight: bold;
    font-size: 64px;
    margin: 48px 0;
}
.right h2 {
    font-weight: bold;
    font-size: 31px;
    margin-bottom: 32px;
}
.right h3 {
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 20px;
    margin-top: 40px;
}

.signup {
    width: 100%;
    max-width: 300px;
    height: 40px;
    border-radius: 20px;
    padding: 0 16px;
    font-size: 15px;
    background-color: rgb(29, 155, 240);
    color: white;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.signup:hover {
    background-color: rgb(26, 140, 216);
}
.login {
    width: 100%;
    max-width: 300px;
    height: 40px;
    border-radius: 20px;
    padding: 0 16px;
    font-size: 15px;
    color: rgb(29, 155, 240);
    border: 1px solid rgb(207, 217, 222);
    display: flex;
    align-items: center;
    justify-content: center;
}
.login:hover {
    background-color: rgba(29,155,240,0.1);
}