.main {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.header {
    display: flex;
    height: 53px;
    align-items: center;
    position: fixed;
    width: calc(((1300px) * 2 / 4) - 2px);
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(12px);
    border-color: rgb(239, 243, 244);
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

@media screen and (max-width: 1300px) {
    .header {
        width: calc((100% - 16px) * 2 / 4 - 8px);
    }
}
@media screen and (max-width: 1024px) {
    .header {
        width: calc((100% - 72px) * 2/3 - 11px);
    }
}
@media screen and (max-width: 600px) {
    .header {
        width: calc(100% - 72px);
    }
}

.headerTitle {
    font-size: 24px;
    font-weight: bold;
    margin-left: 8px;
}

.article {
    margin-top: 54px;
}